.midIconContainer{
    display: inline-block;
}

.midIconContainer .img1{
    width:40px;
    padding: 10px;
    height: 40px;
  }
  
  .midIconContainer .img2{
      height: 60px;
      width: 60px;
      padding: 10px;
  }
  