<!DOCTYPE html>
<html>
<head>
<title>Global Formula Racing</title>
</head>
<body>

<h1>Global Formula Racing</h1>
<p>This project was proposed and created by the GFR(Global Racing Formula) at OSU. GFR is a team that designs, 
    produces, and improves vehicles for racing in Europe and the United States. It started in 2009 as international 
    cooperation between Hochschule Baden-Württemberg-Ravensburg (DHBW), Germany, and the Beaver Racing Team from 
    Oregon State University (OSU), USA. This project was requested to give any GFR members who work on the vehicle 
    the ability to interact with the car's log data. One of the areas of focus was to build a React JS based web 
    frontend to help the engineers handle and interact with the vehicle data log and running vehicle simulations. 
    By making such a web application, the GFR engineers can work more efficiently. The other major focuses were 
    building an optimizer for matching vehicle simulation parameters to log data and using optimization to vary 
    parameters to design a car, which would help GFR engineers to understand how to improve, modify and develop 
    better vehicles.</p>
    <img className="img"></img>
</body>
</html>